@media (prefers-color-scheme: dark) and (max-height: 9999px) {
	--button-default-bg-color: #444;
	--button-default-bdr-color: #261eff;
	--button-default-txt-color: #d3d3d3;
}

@media (prefers-color-scheme: light), (max-height: 9999px) {
	--button-default-bg-color: #fff;
	--button-default-bdr-color: #d3d3d3;
	--button-default-txt-color: #000;
}

.Button {
	background-color: var(--button-default-bg-color);
	border: 1px solid var(--button-default-bdr-color);
	border-radius: 5px;
}
